//           ¬ sidebar account           /
aside.sidebar.sidebar--sm-right.col-sm-4.col-md-3
  article.sidebar-panel.sidebar-panel-account
    +hideTitle
    .sidebar-panel__inner

      //           ¬ user-account           /
      section.sidebar-user-account
        h4 My account

        ul.list-overview
          li
            a(href=ROOT + link.settings) Preferences
          li
            a(href=ROOT + link.orders) Orders history
          li
            a(href=ROOT + link.address) Address details

      //           end user-account           /

      //           ¬ information           /
      section.sidebar-informer
        h4 Information

        ul.list-overview
          li
            a(href=ROOT + link.address) Shipping
          li
            a(href=ROOT + link.cart) Payments
          li
            a(href=ROOT + link.orders) Refund policy
          li
            a(href=ROOT + link.address) Billing details
          li
            a(href=ROOT + link.faq) FAQ
          li
            a(href="#") Support

      //           end information           /

//           end sidebar account           /