mixin bootstrap_breadcrumb(...breadcrumbdata)
  //           ¬ breadcrumbs           /
  #breadcrumbs.breadcrumbs-wrapper
    .container
      ol.breadcrumb
          if breadcrumbdata.length == 1 && Object.prototype.toString.call(breadcrumbdata) === '[object Array]'
              each data, index in breadcrumbdata[0]
                  if index == breadcrumbdata[0].length-1
                      li.active: span #{data[0]}
                  else
                      li: a(href=ROOT + data[1]) #{data[0]}
          else
              each data, index in breadcrumbdata
                  if index == breadcrumbdata.length-1
                      li.active: span #{data[0]}
                  else
                      li: a(href=ROOT + data[1]) #{data[0]}

  //           end breadcrumbs           /


mixin breadcrumb_catalog(...breadcrumbdata)
  //           ¬ breadcrumbs           /
  #breadcrumbs.breadcrumbs-wrapper.breadcrumbs-catalog
    .container
      ol.breadcrumb.pull-left
          if breadcrumbdata.length == 1 && Object.prototype.toString.call(breadcrumbdata) === '[object Array]'
              each data, index in breadcrumbdata[0]
                  if index == breadcrumbdata[0].length-1
                      li.active: span #{data[0]}
                  else
                      li: a(href=ROOT + data[1]) #{data[0]}
          else
              each data, index in breadcrumbdata
                  if index == breadcrumbdata.length-1
                      li.active: span #{data[0]}
                  else
                      li: a(href=ROOT + data[1]) #{data[0]}
      =ind2
      .catalog-mdl-search
        button.catalog-mdl-search__toggle.js-search-toggle.visible-xs(type='button', data-toggle='collapse', data-target='#catalogSearchInput', aria-expanded='false', aria-controls='catalogSearchInput')
          i.icon-search.pe-7s-search
          i.icon-close.pe-7s-close

        #catalogSearchInput.collapse.catalog-mdl-search__form
          form#formSearch(action='#', method='GET')
            input.form-control(type='text', placeholder='Search...')
            button.catalog-mdl-search__btn(type='submit')
              i.icon-search.pe-7s-search
  //           end breadcrumbs           /