-
  //- Google Fonts
  fonts = [
    'Raleway:400,700%7CRoboto+Slab:300,400,700'
  ]

// Google fonts
link(href='https://fonts.googleapis.com/css?family=#{fonts}', rel='stylesheet')
=ind

// build:css css/style.min.css
// libs styles
link(rel='stylesheet', href=dir.css + 'bootstrap.min.css')
link(rel='stylesheet', href=dir.css + 'animate.min.css')
link(rel='stylesheet', href=dir.css + 'custom-datepicker.css')
link(rel='stylesheet', href=dir.css + 'jquery.timepicker.css')
link(rel='stylesheet', href=dir.css + 'nouislider.min.css')
link(rel='stylesheet', href=dir.css + 'select2.min.css')
link(rel='stylesheet', href=dir.css + 'fontawesome-stars.css')
link(rel='stylesheet', href=dir.css + 'owl.carousel.min.css')
link(rel='stylesheet', href=dir.css + 'blueimp-gallery.min.css')
=ind

// Icon pack
link(rel='stylesheet', href=dir.css + 'flaticon.css')
link(rel='stylesheet', href=dir.css + 'font-awesome.min.css')
link(rel='stylesheet', href=dir.css + 'pe-icon-7-stroke.css')
=ind

// Custom styles
link(rel='stylesheet', href=ROOT + 'style.css')
// endbuild

link#skinSwitcher(rel='stylesheet', href=ROOT + '#')
link#styleRtl(rel='stylesheet', href=ROOT + '#')