//           ¬ section pricing           /
section.section-row.section-pricing
  .container
    //           ¬ section-header           /
    +section-number('02. ', 'Pricing')

    //           end section-header           /


    //           ¬ hm-pricing__list           /
    .grid-row.section-pricing__list.row
      .col-xs-1.grid-sizer

      //           ¬ lg banner           /
      .col-xs-12.col-sm-12.col-lg-6.grid-item
        .pricing-banner.hover-anim
          .pricing-banner__top
            +over-hover-link('#')
            figure.pricing-banner__img
              img.img-responsive(src="#{dir.img + 'upload/pricing/item1.jpg'}", alt="")
          .pricing-banner__info
            span Battery replacement — &nbsp;
            span.cost from $249

      //           end lg banner           /


      //           ¬  blog cards           /
      .col-xs-12.col-sm-6.col-lg-3.grid-item
        .pricing-card.hover-anim
          +over-hover-link('#')
          figure.pricing-card__thumb
            img.img-responsive(src="#{dir.img + 'upload/pricing/bg.jpg'}", alt="")
          .pricing-card__body
            .expand-title
              span Radiator flush
              span.cost from $100

      .col-xs-12.col-sm-6.col-lg-3.grid-item
        .pricing-card.hover-anim
          +over-hover-link('#')
          figure.pricing-card__thumb
            img.img-responsive(src="#{dir.img + 'upload/pricing/bg.jpg'}", alt="")
          .pricing-card__body
            .expand-title
              span Alarm setup
              span.cost from $300

      .col-xs-12.col-sm-6.col-lg-3.grid-item
        .pricing-card.hover-anim
          +over-hover-link('#')
          figure.pricing-card__thumb
            img.img-responsive(src="#{dir.img + 'upload/pricing/bg.jpg'}", alt="")
          .pricing-card__body
            .expand-title
              span Suspension diagnostic
              span.cost $95

      .col-xs-12.col-sm-6.col-lg-3.grid-item
        .pricing-card.hover-anim
          +over-hover-link('#')
          figure.pricing-card__thumb
            img.img-responsive(src="#{dir.img + 'upload/pricing/bg.jpg'}", alt="")
          .pricing-card__body
            .expand-title
              span Wheel alignment
              span.cost $40

      //           end  blog cards           /


      //           ¬ sm-4 banners           /
      .col-xs-12.col-md-6.col-lg-4.grid-item
        .pricing-banner.hover-anim
          .pricing-banner__top
            +over-hover-link('#')
            figure.pricing-banner__img
              img.img-responsive(src="#{dir.img + 'upload/pricing/item2.jpg'}", alt="")
          .pricing-banner__info
            span Transmission rebuilding — &nbsp;
            span.cost $299

      .col-xs-12.col-md-6.col-lg-4.grid-item
        .pricing-banner.hover-anim
          .pricing-banner__top
            +over-hover-link('#')
            figure.pricing-banner__img
              img.img-responsive(src="#{dir.img + 'upload/pricing/item3.jpg'}", alt="")
          .pricing-banner__info
            span Air conditioning setup — &nbsp;
            span.cost $400

      .col-xs-12.col-md-6.col-lg-4.grid-item
        .pricing-banner.hover-anim
          .pricing-banner__top
            +over-hover-link('#')
            figure.pricing-banner__img
              img.img-responsive(src="#{dir.img + 'upload/pricing/item4.jpg'}", alt="")
          .pricing-banner__info
            span Multimedia upgrade — &nbsp;
            span.cost from $150

      //           end sm-4 banners           /


      //           ¬ lg banner           /
      .col-xs-12.col-sm-12.col-lg-6.grid-item
        .pricing-banner.hover-anim
          .pricing-banner__top
            +over-hover-link('#')
            figure.pricing-banner__img
              img.img-responsive(src="#{dir.img + 'upload/pricing/item5.jpg'}", alt="")
          .pricing-banner__info
            span Engine maintainance — &nbsp;
            span.cost from $249

      //           end lg banner           /


      //           ¬  blog cards           /
      .col-xs-12.col-sm-6.col-lg-3.grid-item
        .pricing-card.hover-anim
          +over-hover-link('#')
          figure.pricing-card__thumb
            img.img-responsive(src="#{dir.img + 'upload/pricing/bg.jpg'}", alt="")
          .pricing-card__body
            .expand-title
              span Injector servicing
              span.cost $80

      .col-xs-12.col-sm-6.col-lg-3.grid-item
        .pricing-card.hover-anim
          +over-hover-link('#')
          figure.pricing-card__thumb
            img.img-responsive(src="#{dir.img + 'upload/pricing/bg.jpg'}", alt="")
          .pricing-card__body
            .expand-title
              span Alarm setup
              span.cost from $300

      .col-xs-12.col-sm-6.col-lg-3.grid-item
        .pricing-card.hover-anim
          +over-hover-link('#')
          figure.pricing-card__thumb
            img.img-responsive(src="#{dir.img + 'upload/pricing/bg.jpg'}", alt="")
          .pricing-card__body
            .expand-title
              span Painting
              span.cost from $189

      .col-xs-12.col-sm-6.col-lg-3.grid-item
        .pricing-card.hover-anim
          +over-hover-link('#')
          figure.pricing-card__thumb
            img.img-responsive(src="#{dir.img + 'upload/pricing/bg.jpg'}", alt="")
          .pricing-card__body
            .expand-title
              span Wheel alignment
              span.cost $40

      //           end  blog cards           /

    //           end hm-pricing__list           /


    //           ¬ button           /
    .btn-wrapper
      +btn-link('dark', ROOT + link.pricing)
        | see full price list

    //           end button           /

//           end section pricing           /

