//           ¬ section about-us           /
section.section-row.section-about
  .container
    //           ¬ section-header           /
    +section-number('04. ', 'About Us')

    //           end section-header           /

  .section-about__inner
    .section-about__gallery.container
      //           ¬ about-carousel           /
      .section-about__gallery-row.row

        //           ¬ about-panel           /
        .section-about__panel.section-about__repair.col-sm-12.col-md-6
          article.panel.about-panel
            .panel__inner
              header.panel__heading
                span.h4.panel__tab-title Open Since 2000
                h2.panel__title
                  | We are #[span.text-danger Carros]

              .panel__body
                p Behaviour we improving at something to. Evil true high lady roof men had open. To projection considered it precaution an melancholy or. Wound young you thing worse along being ham. Dissimilar of favourable solicitude if sympathize

                p Belonging sir curiosity discovery extremity yet forfeited prevailed own off. Travelling by introduced of mr terminated. Knew as miss my high hope quit. In curiosity shameless

              footer.panel__footer
                +link-accent(ROOT + link.blog_grid_post)
                  | Read our blog

        //           end about-panel           /


        //           ¬ about-carousel           /
        .section-about__carousel-contain.col-sm-12.col-md-10.col-lg-8
          .section-about__carousel.owl-carousel.owl-theme
            - for (var i = 0; i < 2; i++)

              //           ¬ group slides           /
              figure.section-about__slide
                img(src="#{dir.img + 'upload/about-carousel/slide1.jpg'}", alt="")

              figure.section-about__slide
                img(src="#{dir.img + 'upload/about-carousel/slide2.jpg'}", alt="")

              figure.section-about__slide
                img(src="#{dir.img + 'upload/about-carousel/slide3.jpg'}", alt="")

              figure.section-about__slide
                img(src="#{dir.img + 'upload/about-carousel/slide4.jpg'}", alt="")

              figure.section-about__slide
                img(src="#{dir.img + 'upload/about-carousel/slide5.jpg'}", alt="")

              figure.section-about__slide
                img(src="#{dir.img + 'upload/about-carousel/slide6.jpg'}", alt="")

              //           end group slides           /
              =ind2
        //           end about-carousel           /

      //           end about-carousel           /


      //           ¬ carousel track           /
      .carousel-track.owl-carousel.owl-theme
        - for (var i = 0; i < 2; i++)

          //           ¬ group thumbs           /
          figure.carousel-track__item
            img.img-responsive.img-filter(src="#{dir.img + 'upload/about-carousel/thumb1.jpg'}", alt="")
            +svg-img('upload/about-carousel/thumb1.jpg')

          figure.carousel-track__item
            img.img-responsive.img-filter(src="#{dir.img + 'upload/about-carousel/thumb2.jpg'}", alt="")
            +svg-img('upload/about-carousel/thumb2.jpg')

          figure.carousel-track__item
            img.img-responsive.img-filter(src="#{dir.img + 'upload/about-carousel/thumb3.jpg'}", alt="")
            +svg-img('upload/about-carousel/thumb3.jpg')

          figure.carousel-track__item
            img.img-responsive.img-filter(src="#{dir.img + 'upload/about-carousel/thumb4.jpg'}", alt="")
            +svg-img('upload/about-carousel/thumb4.jpg')

          figure.carousel-track__item
            img.img-responsive.img-filter(src="#{dir.img + 'upload/about-carousel/thumb5.jpg'}", alt="")
            +svg-img('upload/about-carousel/thumb5.jpg')

          figure.carousel-track__item
            img.img-responsive.img-filter(src="#{dir.img + 'upload/about-carousel/thumb6.jpg'}", alt="")
            +svg-img('upload/about-carousel/thumb6.jpg')
          //           end group thumbs           /
          =ind2

      //           end carousel track           /

//           end section about-us           /