//           ¬ sidebar           /
aside.col-md-3.sidebar.sidebar--md-left
  article.sidebar-panel
    +hideTitle
    .sidebar-panel__inner
      section.sidebar-form
        h4 Subscribe
        p Be the first who will know about Carros special offers and discount promotions!

        .form-modul.form-subscribe
          form#sidebarForm(action="#", method="POST", data-toggle="validator")
            .form-group
              label.label-control(for='sidebarEmail') Enter your e-mail
              .input-wrap
                input#sidebarEmail.form-control(type="email", name='user_email' required)

                button.form-modul-btn(type="submit")
                  i.pe-7s-paper-plane
      =ind

      section.sidebar-services
        h4 Services
        ul.list-default
          li
            a(href=ROOT + link.logbook) Logbook service
          li
            a(href=ROOT + link.services) 4WD vehicle maintainance
          li
            a(href=ROOT + link.services) Roadworhy test
          li
            a(href=ROOT + link.services) Clutch replacement
          li
            a(href=ROOT + link.services) Tiers sale & setup
          li
            a(href=ROOT + link.services) Air conditioner setup
      =ind

      section.sidebar-faq
        h4 FAQ
        ul.list-default
          li
            a(href=ROOT + link.faq) Why do I need my car to get servied?
          li
            a(href=ROOT + link.faq) How often do I need to check my tyres?
          li
            a(href=ROOT + link.faq) How do I know if my battery needs to be replaced?
      =ind

      section.sidebar-contacts
        h4 Contacts
        ul.contacts-list-regular
          li
            i.icon.pe-7s-map-marker
            span 64 Weigall Avenue, Mount Bryan, SA 5110, Australia
          li
            i.icon.pe-7s-phone
            a(href="tel:+18184925810") +1 (818) 492 58 10
      =ind

      section.sidebar-social
        +hideTitle
        +social-list


//           end sidebar           /