//- Home page
extends _base

block page
  -
    page = {
      language: 'en',
      title: 'Carros | About Us',
      appTitle: 'Carros About Us',
      description: '',
      id: 'page_about',
      class: 'page-about page-inner'
    }

block icons

block header
  include ../partials/_header-repair

block content
  main.page-content
    +intro-page('About Us')

    +bootstrap_breadcrumb(
      ["Home", "index.html"],
      ["About Us"]
    )

    //           ¬ page-content-wrapper           /
    .page-content-wrapper
      .container
        .row
          //           ¬ inner-content           /
          .col-md-9
            //           ¬ about-panel           /
            section.section-content
              .panel.about-panel
                .panel__inner
                  header.panel__heading.text-center
                    span.h4.panel__tab-title Success story
                    h1.panel__title.text-danger
                      | Carros
                    +divider-decor

                  .panel__body
                    p Behaviour we improving at something to. Evil true high lady roof men had open. To projection considered it precaution an melancholy or. Wound young you thing worse along being ham. Dissimilar of favourable solicitude if sympathize middletons at. Forfeited up if disposing perfectly in an eagerness perceived necessary.

                    p Belonging sir curiosity discovery extremity yet forfeited prevailed own off. Travelling by introduced of mr terminated. Knew as miss my high hope quit. In curiosity shameless dependent knowledge up.

            //           end about-panel           /


            //           ¬ about-gallery           /
            section.section-content
              header.section-header
                h2 Our workshop inside
                .divider
                p At quitting in strictly up wandered of relation answered felicity. Side need at in what dear ever upon if. Same down want joy neat ask pain help she. Alone three stuff use law walls fat asked.


              .grid-gallery.about-gallery.row
                //           ¬ grid-sizer           /
                .grid-sizer.col-xs-6.col-sm-4
                //           end grid-sizer           /


                //           ¬ gallery-items          /
                .col-rs.col-xs-6.col-sm-4.grid-item.hover-anim
                  a.grid-gallery-link(href=ROOT + lightbox.auto)
                    img.img-responsive(src=ROOT + aboutGallery[0], alt="")
                    +gallery-over-link

                .col-rs.col-xs-6.col-sm-8.grid-item.hover-anim
                  a.grid-gallery-link(href=ROOT + lightbox.battery)
                    img.img-responsive(src=ROOT + aboutGallery[1], alt="")
                    +gallery-over-link

                .col-rs.col-xs-6.col-sm-4.grid-item.hover-anim
                  a.grid-gallery-link(href=ROOT + lightbox.carRepair)
                    img.img-responsive(src=ROOT + aboutGallery[2], alt="")
                    +gallery-over-link


                .col-rs.col-xs-6.col-sm-4.grid-item.hover-anim
                  a.grid-gallery-link(href=ROOT + lightbox.shutterstock)
                    img.img-responsive(src=ROOT + aboutGallery[3], alt="")
                    +gallery-over-link

                .col-rs.col-xs-6.col-sm-4.grid-item.hover-anim
                  a.grid-gallery-link(href=ROOT + lightbox.mechanical)
                    img.img-responsive(src=ROOT + aboutGallery[4], alt="")
                    +gallery-over-link

                .col-rs.col-xs-6.col-sm-4.grid-item.hover-anim
                  a.grid-gallery-link(href=ROOT + lightbox.motorbike)
                    img.img-responsive(src=ROOT + aboutGallery[5], alt="")
                    +gallery-over-link


                .col-rs.col-xs-6.col-sm-4.grid-item.hover-anim
                  a.grid-gallery-link(href=ROOT + lightbox.irishHands)
                    img.img-responsive(src=ROOT + aboutGallery[6], alt="")
                    +gallery-over-link

                .col-rs.col-xs-6.col-sm-4.grid-item.hover-anim
                  a.grid-gallery-link(href=ROOT + lightbox.speed)
                    img.img-responsive(src=ROOT + aboutGallery[7], alt="")
                    +gallery-over-link

                .col-rs.col-xs-6.col-sm-4.grid-item.hover-anim
                  a.grid-gallery-link(href=ROOT + lightbox.industry)
                    img.img-responsive(src=ROOT + aboutGallery[8], alt="")
                    +gallery-over-link

                //           end gallery-items           /

            //           end about-gallery           /

          //           end inner-content           /

          include repair/_repair-sidebar
      include repair/_maintenance

    //           end page-content-wrapper           /

block footer
  include ../partials/_footer

block bottom
  include ../partials/_lightbox
  include ../partials/_modal-form

