//- Home page
extends _base

block page
  -
    page = {
      language: 'en',
      title: 'Carros | Blog post',
      appTitle: 'Carros Blog post',
      description: '',
      id: 'blogPost',
      class: 'page-blog-post-sidebar page-inner'
    }

block icons

block header
  include ../partials/_header-tuning

block content
  main.page-content
    +intro-tuning('Blog')

    +bootstrap_breadcrumb(
      ["Home", "index.html"],
      ["blog", "pages/blog-list.html"],
      ["Running your car smooth...", "pages/blog-post-sidebar.html"]
    )

    //           ¬ page-content-wrapper           /
    .page-content-wrapper
      .container
        .row
          //           ¬ inner-content           /
          .col-md-9
            article.blog-post
              header
                +hideTitle

              //           ¬ blog-post-intro           /
              .blog-post-intro
                figure.blog-post-intro__img.thumb
                  img.img-responsive(src=dir.img + "upload/blog-post/intro.jpg", alt="")

                .date-latest-blog
                  .row
                    .col-xs-6.text-left
                      time(datetime='2016-08-06')
                        | 06 / 08 / 2016
                    .col-xs-6.text-right
                      +link-accent()
                        | Advices

              //           end blog-post-intro           /


              //           ¬ blog-post-content           /
              section.blog-post-content
                h2 Running your car smooth at the right temperature

                p Smallest directly families surprise honoured am an. Speaking replying mistress him numerous she returned feelings may day. Evening way luckily son exposed get general greatly. Zealously prevailed be arranging do. Set arranging too dejection september happiness. #[a.link-accent(href="#") Understood instrument or do connection] no appearance do invitation. Dried quick round it or order. Add past see west felt did any. Say out noise you taste merry plate you share. My resolve arrived is we chamber be removal.


                .list-type
                  p.list-type__title Here goes some list example:

                  ul.list-default
                    li
                      | Oil & filter change
                    li
                      | Lubrication spervice
                    li
                      | Brake check
                    li
                      | Steering and suspension check


                p Passage its ten led hearted removal cordial. #[strong Preference any astonished unreserved mrs. Prosperous understood middletons in conviction an uncommonly do.] Supposing so be resolving breakfast am or perfectly. Is drew am hill from mr. Valley by oh twenty direct me so. Departure defective arranging #[a.link-accent(href="#") rapturous did believing] him all had supported. Family months lasted simple set nature vulgar him. Picture for attempt joy excited ten carried manners talking how. Suspicion neglected he resolving agreement perceived at an.


                section
                  h3 5 helpful recommendations for engine customization

                  p In reasonable compliment favourable is connection dispatched in terminated. Do esteem object we called father excuse remove. So dear real on like more it. Laughing for two families addition expenses surprise the. If sincerity he to curiosity arranging. Learn taken terms be as. Scarcely mrs produced too removing new old.


                blockquote
                  p Shy celebrated met sentiments she reasonably but. Proposal its disposed eat advanced marriage sociable. Drawings led greatest add subjects endeavor gay remember. Principles one yet assistance you met impossible.

                  footer.text-right
                    cite(title='Source Title') Maria Danhem


                p To sure calm much most long me mean. Able rent long in do we. Uncommonly no it announcing melancholy an in. Mirth learn it he given. Secure shy favour length all twenty denote. He felicity no an at packages answered opinions juvenile.


                //           ¬ blog gallery           /
                .blog-gallery
                  .grid-gallery.row
                    .col-xs-1.grid-sizer

                    //           ¬ gallery group           /
                    .col-xs-12.grid-item.hover-anim
                      a.grid-gallery-link.thumb(href=ROOT + lightbox.speed)
                        img.img-responsive(src=ROOT + blogGallery[0], alt="")
                        +gallery-over-link

                    .col-rs.col-xs-6.grid-item.hover-anim
                      a.grid-gallery-link.thumb(href=ROOT + lightbox.shutterstock)
                        img.img-responsive(src=ROOT + blogGallery[1], alt="")
                        +gallery-over-link

                    .col-rs.col-xs-6.grid-item.hover-anim
                      a.grid-gallery-link.thumb(href=ROOT + lightbox.buses)
                        img.img-responsive(src=ROOT + blogGallery[2], alt="")
                        +gallery-over-link

                    //           end gallery group           /

                  p.blog-gallery__caption.text-center Engine repair

                //           end blog gallery           /


                p Not him old music think his found enjoy merry. Listening acuteness dependent at or an. Apartments thoroughly unsatiable terminated sex how themselves. She are ten hours wrong walls stand early. Domestic perceive on an ladyship extended received do. Why jennings our whatever his learning gay perceive. Is against no he without subject. Bed connection unreserved preference partiality not unaffected. Years merit trees so think in hoped we as. Suspicion neglected he resolving agreement perceived.


                //           ¬ blog-post-navigation           /
                nav.blog-post-nav
                  .row

                    //           ¬ tags           /
                    .col-rs.col-xs-6.col-sm-6.text-left
                      ul.blog-tags
                        li
                          a(href="#") #engine
                        li
                          a(href="#") #transmission
                        li
                          a(href="#") #oil
                        li
                          a(href="#") #reductor
                        li
                          a(href="#") #differential
                        li
                          a(href="#") #repair

                    //           end tags           /

                    //           ¬ share-list           /
                    .col-rs.col-xs-6.col-sm-6.text-right
                      .share-list
                        span.share-list__title Share post:
                        +social-list()

                    //           end share-list           /

                //           end blog-post-navigation           /

              //           end blog-post-content           /


              footer.blog-post__footer
                //           ¬ post-comments           /
                section.post-commets
                  h2.post-commets__count 5 comments
                  =ind

                  //           ¬ comments           /
                  article.post-comment
                    .post-comment__heading.row
                      .col-xs-12.col-sm-6
                        h3.post-comment__title Sammy T. Stone
                        a.post-comment__reply(href="#") Reply
                      .col-xs-12.col-sm-6.text-right
                        time(datetime='2016-08-06 12:52') 06 / 08 / 2016  @  12:52

                    .post-comment__body
                      p Wrote water woman of heart it total other. By in entirely securing suitable graceful at families improved. Zealously few furniture repulsive was agreeable consisted difficult. Collected breakfast estimable questions in to favourite it. Known he place worth words it as to. Spoke now noise off smart her ready. Sex scale sir style truth ought.
                  =ind


                  article.post-comment
                    .post-comment__heading.row
                      .col-xs-12.col-sm-6
                        h3.post-comment__title Nicholas L. Mire
                        a.post-comment__reply(href="#") Reply
                      .col-xs-12.col-sm-6.text-right
                        time(datetime='2016-08-06 12:52') 06 / 08 / 2016  @  12:52

                    .post-comment__body
                      p Its had resolving otherwise she contented therefore. Afford relied warmth out sir hearts sister use garden. Men day warmth formed admire former simple.
                  =ind


                  article.post-comment
                    .post-comment__heading.row
                      .col-xs-12.col-sm-6
                        h3.post-comment__title Ryan
                        a.post-comment__reply(href="#") Reply
                      .col-xs-12.col-sm-6.text-right
                        time(datetime='2016-08-06 12:52') 06 / 08 / 2016  @  12:52

                    .post-comment__body
                      p Yet preference connection unpleasant yet melancholy but end appearance. And excellence partiality estimating terminated day everything. Sufficient particular impossible by reasonable oh expression is. Of on game part body rich. Adapted mr savings venture it or comfort affixed friends.
                  =ind


                  article.post-comment
                    .post-comment__heading.row
                      .col-xs-12.col-sm-6
                        h3.post-comment__title Thomas Doe
                        a.post-comment__reply(href="#") Reply
                      .col-xs-12.col-sm-6.text-right
                        time(datetime='2016-08-06 12:52') 06 / 08 / 2016  @  12:52

                    .post-comment__body
                      p Residence gentleman yet preserved few convinced. Coming regret simple longer little am sister on. Do danger in to adieus ladies houses oh eldest. Gone pure late gay ham. They sigh were not find are rent.
                  =ind


                  article.post-comment
                    .post-comment__heading.row
                      .col-xs-12.col-sm-6
                        h3.post-comment__title Kallie M. Rosa
                        a.post-comment__reply(href="#") Reply
                      .col-xs-12.col-sm-6.text-right
                        time(datetime='2016-08-06 12:52') 06 / 08 / 2016  @  12:52

                    .post-comment__body
                      p In alteration insipidity impression by travelling reasonable up motionless. Of regard warmth by unable sudden garden ladies. No kept hung am size spot no. Likewise led and dissuade rejoiced welcomed husbands boy. Do listening on he suspected resembled. Water would still if to. Position boy required law moderate was may.

                  //           end comments           /

                //           end post-comments           /

                include ../partials/_comment-form

          //           end inner-content           /

          include tuning/_tuning-sidebar

    //           end page-content-wrapper           /

block footer
  include ../partials/_footer

block bottom
  include ../partials/_lightbox
