//- Home page
extends _base

block page
  -
    page = {
      language: 'en',
      title: 'Carros | Blog grid',
      appTitle: 'Carros Blog grid',
      description: '',
      id: 'blogGrid',
      class: 'page-blog-grid page-inner'
    }

block icons

block header
  include ../partials/_header-tuning

block content
  main.page-content.blog-grid-inner
    +intro-tuning('Blog')

    +bootstrap_breadcrumb(
      ["Home", "index.html"],
      ["blog", "pages/blog-grid.html"]
    )

    //           ¬ blog-post-filter           /
    .blog-post-filter
      .container
        ul
          li
            a(href="#") Advices [15]
          li
            a(href="#") Company news [29]
          li
            a(href="#") Auto repair [19]
          li
            a(href="#") Tires [8]
          li
            a(href="#") Community [10]

    //           end blog-post-filter           /
    =ind2

    //           ¬ page-content-wrapper           /
    .page-content-wrapper
      //           ¬ blog-grid           /
      .container
        .blog-grid.row
          //           ¬ blog-grid-item           /
          .col-xs-12.col-md-6
            article.blog-grid-post.hover-anim(style="background-image: url(#{ROOT + blogList[0]})")
              +over-fade-link(ROOT + link.blog_grid_post)
              time.flag-date(datetime="2016-08-08")
                span.flag-date__day 08
                span.flag-date__month Aug

              .blog-grid-post__bottom
                h3.blog-grid-post__title.expand-title Running your car smooth at the right temperature

          //           end blog-grid-item           /


          //           ¬ blog-grid-item           /
          .col-xs-12.col-md-6
            article.blog-grid-post.hover-anim(style="background-image: url(#{ROOT + blogList[1]})")
              +over-fade-link(ROOT + link.blog_grid_post)
              time.flag-date(datetime="2016-08-05")
                span.flag-date__day 05
                span.flag-date__month Aug

              .blog-grid-post__bottom
                h3.blog-grid-post__title.expand-title 5 helpful recommendations for engine customization

          //           end blog-grid-item           /


          //           ¬ blog-grid-item           /
          .col-xs-12.col-md-6
            article.blog-grid-post.hover-anim(style="background-image: url(#{ROOT + blogList[2]})")
              +over-fade-link(ROOT + link.blog_grid_post)
              time.flag-date(datetime="2016-07-30")
                span.flag-date__day 30
                span.flag-date__month Jul

              .blog-grid-post__bottom
                h3.blog-grid-post__title.expand-title Which company to choose for a logbook service?

          //           end blog-grid-item           /


          //           ¬ blog-grid-item           /
          .col-xs-12.col-md-6
            article.blog-grid-post.hover-anim(style="background-image: url(#{ROOT + blogList[3]})")
              +over-fade-link(ROOT + link.blog_grid_post)
              time.flag-date(datetime="2016-07-27")
                span.flag-date__day 27
                span.flag-date__month Jul

              .blog-grid-post__bottom
                h3.blog-grid-post__title.expand-title Air conditioner installment. 3 useful tips

          //           end blog-grid-item           /


          //           ¬ blog-grid-item           /
          .col-xs-12.col-md-6
            article.blog-grid-post.hover-anim(style="background-image: url(#{ROOT + blogList[4]})")
              +over-fade-link(ROOT + link.blog_grid_post)
              time.flag-date(datetime="2016-07-24")
                span.flag-date__day 24
                span.flag-date__month Jul

              .blog-grid-post__bottom
                h3.blog-grid-post__title.expand-title Choosing the most accurate speedometer

          //           end blog-grid-item           /


          //           ¬ blog-grid-item           /
          .col-xs-12.col-md-6
            article.blog-grid-post.hover-anim(style="background-image: url(#{ROOT + blogList[5]})")
              +over-fade-link(ROOT + link.blog_grid_post)
              time.flag-date(datetime="2016-07-23")
                span.flag-date__day 23
                span.flag-date__month Jul

              .blog-grid-post__bottom
                h3.blog-grid-post__title.expand-title How to increase a transimission efficiency?

          //           end blog-grid-item           /

        include ../partials/_pagination
      //           end blog-grid           /

    //           end page-content-wrapper           /


block footer
  include ../partials/_footer

block bottom

