//- Home page
extends _base

block page
  -
    page = {
      language: 'en',
      title: 'Carros | Catalog search',
      appTitle: 'Carros Catalog search',
      description: '',
      id: 'pageCatalog',
      class: 'page-catalog-search page-inner'
    }

block icons

block header
  include ../partials/_header-retailer

block content
  main.page-content
    //           ¬ section-intro           /
    +catalog-intro-page('Brakes')

    //           end section-intro           /

    include ../partials/_category-filter
    =ind

    +breadcrumb_catalog(
      ["Home", "retailer.html"],
      ["Catalog", "pages/catalog.html"],
      ["Brakes"]
    )

    //           ¬ content inner           /
    .page-content-wrapper
      .container
        .row
          include retailer/_sidebar-full-filter
          =ind

          //           ¬ intro catalog           /
          .col-xs-12.col-md-9
            section.catalog-row-wrapper
              header.section-header
                h2 Brake discs

              //           ¬ catalog search switcher           /
              .catalog-search-switcher.media
                .media-body
                  | Found
                  span.count-search  324
                  |  items for:
                  span.input-search-result  “2000 year Mercedes-Benz, M-Class (W164), 6 Cyl 3.5L”

                .media-right
                  .media-object.text-danger.text-right
                    button.result-clean(type='button') &times; clear filter

              //           end catalog search switcher           /
              =ind

              //           ¬ catalog items           /
              .catalog-row.row
                //           ¬ item           /
                .col-rs.col-xs-6.col-sm-4.col-md-4
                  article.catalog-item-panel
                    figure.catalog-item-panel__img.hover-anim
                      img.img-responsive.thumb(src=ROOT + goods[0], alt="")
                      +over-catalog-link(ROOT + link.catalog_details)
                    .catalog-item-panel__body
                      a.link-title(href=ROOT + link.catalog_details)
                        h3 C.B.S. Brake disc
                      p Front axle vented, for for MERCEDES-BENZ M-CLASS (W164) ML 280 CDI 4-matic (164.120)

                      .media.media-footer
                        .media-body
                          .media-counter
                            input.form-control-count(type='text', data-number, value='1', readonly)
                        .media-right.cost-row
                          span.cost-current $55.98

                        +btn-link
                          | Buy

                //           end item           /
                =ind

                //           ¬ item           /
                .col-rs.col-xs-6.col-sm-4.col-md-4
                  article.catalog-item-panel
                    figure.catalog-item-panel__img.hover-anim
                      img.img-responsive.thumb(src=ROOT + goods[1], alt="")
                      +over-catalog-link(ROOT + link.catalog_details)
                    .catalog-item-panel__body
                      a.link-title(href=ROOT + link.catalog_details)
                        h3 SWAP Tappet
                      p for HONDA CIVIC VIII Hatchback (FN, FK) 1.4 83 HP

                      .media.media-footer
                        .media-body
                          .media-counter
                            input.form-control-count(type='text', data-number, value='1', readonly)
                        .media-right.cost-row
                          span.cost-current $4.00
                      +btn-link
                        | Buy

                //           end item           /
                =ind

                //           ¬ item           /
                .col-rs.col-xs-6.col-sm-4.col-md-4
                  article.catalog-item-panel
                    figure.catalog-item-panel__img.hover-anim
                      img.img-responsive.thumb(src=ROOT + goods[2], alt="")
                      +over-catalog-link(ROOT + link.catalog_details)
                    .catalog-item-panel__body
                      a.link-title(href=ROOT + link.catalog_details)
                        h3 Elysium Oil filter
                      p Filter insert, for BMW X5 (E53) 3.0 228 HP

                      .media.media-footer
                        .media-body
                          .media-counter
                            input.form-control-count(type='text', data-number, value='1', readonly)
                        .media-right.cost-row
                          span.cost-current $12.50
                      +btn-link
                        | Buy

                //           end item           /
                =ind

                //           ¬ item           /
                .col-rs.col-xs-6.col-sm-4.col-md-4
                  article.catalog-item-panel
                    figure.catalog-item-panel__img.hover-anim
                      img.img-responsive.thumb(src=ROOT + goods[3], alt="")
                      +over-catalog-link(ROOT + link.catalog_details)
                    .catalog-item-panel__body
                      a.link-title(href=ROOT + link.catalog_details)
                        h3 OBI Springs
                      p Rear axle lucas w/o accessories, for AUDI A3 (8L1) 1.6 101 HP

                      .media.media-footer
                        .media-body
                          .media-counter
                            input.form-control-count(type='text', data-number, value='1', readonly)
                        .media-right.cost-row
                          span.cost-current $22.25
                      +btn-link
                        | Buy

                //           end item           /
                =ind

                //           ¬ item           /
                .col-rs.col-xs-6.col-sm-4.col-md-4
                  article.catalog-item-panel
                    figure.catalog-item-panel__img.hover-anim
                      img.img-responsive.thumb(src=ROOT + goods[4], alt="")
                      +over-catalog-link(ROOT + link.details)
                    .catalog-item-panel__body
                      a.link-title(href=ROOT + link.catalog_details)
                        h3 OBI Rocker
                      p 8 Mechanical steel

                      .media.media-footer
                        .media-body
                          .media-counter
                            input.form-control-count(type='text', data-number, value='1', readonly)
                        .media-right.cost-row
                          span.cost-current $10.50
                      +btn-link
                        | Buy

                //           end item           /
                =ind

                //           ¬ item           /
                .col-rs.col-xs-6.col-sm-4.col-md-4
                  article.catalog-item-panel
                    figure.catalog-item-panel__img.hover-anim
                      img.img-responsive.thumb(src=ROOT + goods[5], alt="")
                      +over-catalog-link(ROOT + link.catalog_details)
                    .catalog-item-panel__body
                      a.link-title(href=ROOT + link.catalog_details)
                        h3 C.B.S. Spark plug
                      p Copper plus, for Chevrolet (all models)

                      .media.media-footer
                        .media-body
                          .media-counter
                            input.form-control-count(type='text', data-number, value='1', readonly)
                        .media-right.cost-row
                          span.cost-current $19.50
                      +btn-link
                        | Buy

                //           end item           /
                =ind

                //           ¬ item           /
                .col-rs.col-xs-6.col-sm-4.col-md-4
                  article.catalog-item-panel
                    figure.catalog-item-panel__img.hover-anim
                      img.img-responsive.thumb(src=ROOT + goods[6], alt="")
                      +over-catalog-link(ROOT + link.catalog_details)
                    .catalog-item-panel__body
                      a.link-title(href=ROOT + link.catalog_details)
                        h3 C.B.S. Brake disc
                      p Front axle vented, for for MERCEDES-BENZ M-CLASS (W164) ML 280 CDI 4-matic (164.120)

                      .media.media-footer
                        .media-body
                          .media-counter
                            input.form-control-count(type='text', data-number, value='1', readonly)
                        .media-right.cost-row
                          span.cost-current $55.98
                      +btn-link
                        | Buy

                //           end item           /
                =ind

                //           ¬ item           /
                .col-rs.col-xs-6.col-sm-4.col-md-4
                  article.catalog-item-panel
                    figure.catalog-item-panel__img.hover-anim
                      img.img-responsive.thumb(src=ROOT + goods[7], alt="")
                      +over-catalog-link(ROOT + link.catalog_details)
                    .catalog-item-panel__body
                      a.link-title(href=ROOT + link.catalog_details)
                        h3 SWAP Tappet
                      p for HONDA CIVIC VIII Hatchback (FN, FK) 1.4 83 HP

                      .media.media-footer
                        .media-body
                          .media-counter
                            input.form-control-count(type='text', data-number, value='1', readonly)
                        .media-right.cost-row
                          span.cost-current $14.50
                      +btn-link
                        | Buy

                //           end item           /
                =ind

                //           ¬ item           /
                .col-rs.col-xs-6.col-sm-4.col-md-4
                  article.catalog-item-panel
                    figure.catalog-item-panel__img.hover-anim
                      img.img-responsive.thumb(src=ROOT + goods[8], alt="")
                      +over-catalog-link(ROOT + link.catalog_details)
                    .catalog-item-panel__body
                      a.link-title(href=ROOT + link.catalog_details)
                        h3 Elysium Oil filter
                      p Filter insert, for BMW X5 (E53) 3.0 228 HP

                      .media.media-footer
                        .media-body
                          .media-counter
                            input.form-control-count(type='text', data-number, value='1', readonly)
                        .media-right.cost-row
                          span.cost-current $9.00

                        +btn-link
                          | Buy

                //           end item           /
                =ind

                //           ¬ item           /
                .col-rs.col-xs-6.col-sm-4.col-md-4
                  article.catalog-item-panel
                    figure.catalog-item-panel__img.hover-anim
                      img.img-responsive.thumb(src=ROOT + goods[9], alt="")
                      +over-catalog-link(ROOT + link.catalog_details)
                    .catalog-item-panel__body
                      a.link-title(href=ROOT + link.catalog_details)
                        h3 C.B.S. Brake disc
                      p Front axle vented, for for MERCEDES-BENZ M-CLASS (W164) ML 280 CDI 4-matic (164.120)

                      .media.media-footer
                        .media-body
                          .media-counter
                            input.form-control-count(type='text', data-number, value='1', readonly)
                        .media-right.cost-row
                          span.cost-current $55.98

                        +btn-link
                          | Buy

                //           end item           /
                =ind

                //           ¬ item           /
                .col-rs.col-xs-6.col-sm-4.col-md-4
                  article.catalog-item-panel
                    figure.catalog-item-panel__img.hover-anim
                      img.img-responsive.thumb(src=ROOT + goods[10], alt="")
                      +over-catalog-link(ROOT + link.catalog_details)
                    .catalog-item-panel__body
                      a.link-title(href=ROOT + link.catalog_details)
                        h3 SWAP Tappet
                      p for HONDA CIVIC VIII Hatchback (FN, FK) 1.4 83 HP

                      .media.media-footer
                        .media-body
                          .media-counter
                            input.form-control-count(type='text', data-number, value='1', readonly)
                        .media-right.cost-row
                          span.cost-current $4.00
                      +btn-link
                        | Buy

                //           end item           /
                =ind

                //           ¬ item           /
                .col-rs.col-xs-6.col-sm-4.col-md-4
                  article.catalog-item-panel
                    figure.catalog-item-panel__img.hover-anim
                      img.img-responsive.thumb(src=ROOT + goods[11], alt="")
                      +over-catalog-link(ROOT + link.catalog_details)
                    .catalog-item-panel__body
                      a.link-title(href=ROOT + link.catalog_details)
                        h3 OBI Springs
                      p Rear axle lucas w/o accessories, for AUDI A3 (8L1) 1.6 101 HP

                      .media.media-footer
                        .media-body
                          .media-counter
                            input.form-control-count(type='text', data-number, value='1', readonly)
                        .media-right.cost-row
                          span.cost-current $22.25
                      +btn-link
                        | Buy

                //           end item           /
                =ind

              //           end catalog items           /
              =ind

              include ../partials/_pagination
          //           end intro catalog           /

    //           end content inner           /

    include retailer/_brands-carousel

block footer
  include ../partials/_footer

block bottom

