//- Home page
extends _base

block page
  -
    page = {
      language: 'en',
      title: 'Carros | Gallery',
      appTitle: 'Carros Gallery',
      description: '',
      id: 'gallery2',
      class: 'page-gallery page-inner'
    }

block icons

block header
  include ../partials/_header-tuning

block content
  main.page-content
    +intro-tuning('Gallery')

    +bootstrap_breadcrumb(
      ["Home", "tuning.html"],
      ["Gallery", "gallery-2.html"]
    )

    //           ¬ gallery-filter           /
    nav.panel-nav-gallery.text-center
      ul.gallery-filter.row
        li.gallery-filter__item.col-rs.col-xs-6.col-sm-3
          a(href="#" role="button" data-filter='.is-cars') Cars
        li.gallery-filter__item.col-rs.col-xs-6.col-sm-3
          a(href="#" role="button" data-filter='.is-moto') Motorcycles
        li.gallery-filter__item.col-rs.col-xs-6.col-sm-3
          a(href="#" role="button" data-filter='.is-dynamo') Dyno test
        li.gallery-filter__item.col-rs.col-xs-6.col-sm-3
          a(href="#" role="button" data-filter='.is-paint') Painting
    //           end gallery-filter           /


    //           ¬ gallery-content-wrapper           /
    .gallery-content-inner.container-fluid
      .grid-gallery.row(data-grid-sort)
        .col-xs-12.col-sm-6.col-md-4.col-lg-3.grid-sizer

        //           ¬ gallery-group           /
        .col-xs-12.col-sm-6.col-md-4.col-lg-3.grid-item.is-paint.hover-anim
          a.gallery__img-wrap.grid-gallery-link(href=ROOT + lightbox.battery)
            img.img-responsive(src=ROOT + gallery2[0], alt="")
            +gallery-over-link

        .col-xs-12.col-sm-6.col-md-4.col-lg-3.grid-item.is-moto.hover-anim
          a.gallery__img-wrap.grid-gallery-link(href=ROOT + lightbox.mechanical)
            img.img-responsive(src=ROOT + gallery2[1], alt="")
            +gallery-over-link

        .col-xs-12.col-sm-6.col-md-4.col-lg-3.grid-item.is-dynamo.hover-anim
          a.gallery__img-wrap.grid-gallery-link(href=ROOT + lightbox.industry)
            img.img-responsive(src=ROOT + gallery2[2], alt="")
            +gallery-over-link

        .col-xs-12.col-sm-6.col-md-4.col-lg-3.grid-item.is-cars.hover-anim
          a.gallery__img-wrap.grid-gallery-link(href=ROOT + lightbox.featureCar)
            img.img-responsive(src=ROOT + gallery2[3], alt="")
            +gallery-over-link

        //           end gallery-group           /


        //           ¬ gallery group           /
        .col-xs-12.col-sm-6.col-md-4.col-lg-3.grid-item.is-dynamo.hover-anim
          a.gallery__img-wrap.grid-gallery-link(href=ROOT + lightbox.buses)
            img.img-responsive(src=ROOT + gallery2[4], alt="")
            +gallery-over-link

        .col-xs-12.col-sm-6.col-md-4.col-lg-3.grid-item.is-dynamo.hover-anim
          a.gallery__img-wrap.grid-gallery-link(href=ROOT + lightbox.carRepair)
            img.img-responsive(src=ROOT + gallery2[5], alt="")
            +gallery-over-link

        .col-xs-12.col-sm-6.col-md-4.col-lg-3.grid-item.is-paint.hover-anim
          a.gallery__img-wrap.grid-gallery-link(href=ROOT + lightbox.shutterstock)
            img.img-responsive(src=ROOT + gallery2[6], alt="")
            +gallery-over-link

        .col-xs-12.col-sm-6.col-md-4.col-lg-3.grid-item.is-cars.hover-anim
          a.gallery__img-wrap.grid-gallery-link(href=ROOT + lightbox.engine)
            img.img-responsive(src=ROOT + gallery2[7], alt="")
            +gallery-over-link

        //           end gallery group           /


        //           ¬ gallery group           /
        .col-xs-12.col-sm-6.col-md-4.col-lg-3.grid-item.is-paint.hover-anim
          a.gallery__img-wrap.grid-gallery-link(href=ROOT + lightbox.motor)
            img.img-responsive(src=ROOT + gallery2[8], alt="")
            +gallery-over-link

        .col-xs-12.col-sm-6.col-md-4.col-lg-3.grid-item.is-cars.hover-anim
          a.gallery__img-wrap.grid-gallery-link(href=ROOT + lightbox.auto)
            img.img-responsive(src=ROOT + gallery2[9], alt="")
            +gallery-over-link

        .col-xs-12.col-sm-6.col-md-4.col-lg-3.grid-item.is-moto.hover-anim
          a.gallery__img-wrap.grid-gallery-link(href=ROOT + lightbox.irishHands)
            img.img-responsive(src=ROOT + gallery2[10], alt="")
            +gallery-over-link

        .col-xs-12.col-sm-6.col-md-4.col-lg-3.grid-item.is-paint.hover-anim
          a.gallery__img-wrap.grid-gallery-link(href=ROOT + lightbox.speed)
            img.img-responsive(src=ROOT + gallery2[11], alt="")
            +gallery-over-link

          //           end gallery group           /

    //           end gallery-content-wrapper           /

block footer
  include ../partials/_footer

block bottom
  include ../partials/_lightbox

