//- Home page
extends _base

block page
  -
    page = {
      language: 'en',
      title: 'Carros | Gallery',
      appTitle: 'Carros Gallery',
      description: '',
      id: 'gallery3',
      class: 'page-gallery page-inner'
    }

block icons

block header
  include ../partials/_header-tuning

block content
  main.page-content
    +intro-tuning('Gallery')

    +bootstrap_breadcrumb(
      ["Home", "tuning.html"],
      ["Gallery", "gallery-3.html"]
    )

    //           ¬ gallery-filter           /
    nav.panel-nav-gallery.text-center
      ul.gallery-filter.row
        li.gallery-filter__item.col-rs.col-xs-6.col-sm-3
          a(href="#" role="button" data-filter='.is-cars') Cars
        li.gallery-filter__item.col-rs.col-xs-6.col-sm-3
          a(href="#" role="button" data-filter='.is-moto') Motorcycles
        li.gallery-filter__item.col-rs.col-xs-6.col-sm-3
          a(href="#" role="button" data-filter='.is-dynamo') Dyno test
        li.gallery-filter__item.col-rs.col-xs-6.col-sm-3
          a(href="#" role="button" data-filter='.is-paint') Painting
    //           end gallery-filter           /


    //           ¬ gallery-content-wrapper           /
    .gallery-content-inner
      .grid-gallery.grid-gallery--20.row(data-grid-sort)
        .col-xs-1.col-lg-1.grid-sizer
        //           ¬ gallery group           /
        .col-rs.col-xs-6.col-lg-4.grid-item.is-paint.hover-anim
          a.gallery__img-wrap.grid-gallery-link(href=ROOT + lightbox.auto)
            picture
              source(media='(max-width: 992px)', srcset=ROOT + gallery3.left[1])
              source(media='(max-width: 1199px)', srcset=ROOT + gallery3.left[2])
              img.img-responsive(src=ROOT + gallery3.left[0], alt="")
            +gallery-over-link

        //           end gallery group           /
        =ind2

        //           ¬ gallery group           /
        .col-rs.col-xs-6.col-lg-6.grid-item.is-moto.hover-anim
          a.gallery__img-wrap.grid-gallery-link(href=ROOT + lightbox.engine)
            img.img-responsive(src=ROOT + gallery3.center[0], alt="")
            +gallery-over-link

        .col-rs.col-xs-6.col-sm-3.col-lg-3.grid-item.is-dynamo.hover-anim
          a.gallery__img-wrap.grid-gallery-link(href=ROOT + lightbox.motor)
            img.img-responsive(src=ROOT + gallery3.center[1], alt="")
            +gallery-over-link

        .col-rs.col-xs-6.col-sm-3.col-lg-3.grid-item.is-cars.hover-anim
          a.gallery__img-wrap.grid-gallery-link(href=ROOT + lightbox.speed)
            img.img-responsive(src=ROOT + gallery3.center[2], alt="")
            +gallery-over-link

        //           end gallery group           /
        =ind2


        //           ¬ gallery group           /
        .col-rs.col-xs-6.col-lg-4.grid-item.is-paint.hover-anim
          a.gallery__img-wrap.grid-gallery-link(href=ROOT + lightbox.battery)
            picture
              source(media='(max-width: 992px)', srcset=ROOT + gallery3.right[1])
              source(media='(max-width: 1199px)', srcset=ROOT + gallery3.right[2])
              img.img-responsive(src=ROOT + gallery3.right[0], alt="")
            +gallery-over-link

        //           end gallery group           /
        =ind2


        //           ¬ gallery group           /
        .col-rs.col-xs-6.col-sm-3.col-lg-3.grid-item.is-dynamo.hover-anim
          a.gallery__img-wrap.grid-gallery-link(href=ROOT + lightbox.mechanical)
            img.img-responsive(src=ROOT + gallery3.center[3], alt="")
            +gallery-over-link

        .col-rs.col-xs-6.col-sm-3.col-lg-3.grid-item.is-dynamo.hover-anim
          a.gallery__img-wrap.grid-gallery-link(href=ROOT + lightbox.buses)
            img.img-responsive(src=ROOT + gallery3.center[4], alt="")
            +gallery-over-link

        //           end gallery group           /
        =ind2


        //           ¬ gallery group           /
        .col-rs.col-xs-6.col-sm-3.col-lg-3.grid-item.is-paint.hover-anim
          a.gallery__img-wrap.grid-gallery-link(href=ROOT + lightbox.industry)
            img.img-responsive(src=ROOT + gallery3.center[5], alt="")
            +gallery-over-link

        .col-rs.col-xs-6.col-sm-3.col-lg-3.grid-item.is-cars.hover-anim
          a.gallery__img-wrap.grid-gallery-link(href=ROOT + lightbox.irishHands)
            img.img-responsive(src=ROOT + gallery3.center[6], alt="")
            +gallery-over-link

        .col-rs.col-xs-6.col-lg-6.grid-item.is-paint.hover-anim
          a.gallery__img-wrap.grid-gallery-link(href=ROOT + lightbox.carRepair)
            img.img-responsive(src=ROOT + gallery3.center[7], alt="")
            +gallery-over-link

        .col-rs.col-xs-6.col-sm-3.col-lg-3.grid-item.is-cars.hover-anim
          a.gallery__img-wrap.grid-gallery-link(href=ROOT + lightbox.featureCar)
            img.img-responsive(src=ROOT + gallery3.center[8], alt="")
            +gallery-over-link

        .col-rs.col-xs-6.col-sm-3.col-lg-3.grid-item.is-moto.hover-anim
          a.gallery__img-wrap.grid-gallery-link(href=ROOT + lightbox.shutterstock)
            img.img-responsive(src=ROOT + gallery3.center[9], alt="")
            +gallery-over-link

        //           end gallery group           /

    //           end gallery-content-wrapper           /

block footer
  include ../partials/_footer

block bottom
  include ../partials/_lightbox

