//- Home page
extends _base

block page
  -
    page = {
      language: 'en',
      title: 'Carros | Checkout',
      appTitle: 'Carros Checkout',
      description: '',
      id: 'page_checkout',
      class: 'page-checkout page-inner'
    }

block icons

block header
  include partials/_header-retailer

block content
  main.page-content
    //           ¬ section-intro           /
    +catalog-intro-page('Checkout')

    //           end section-intro           /

    include partials/_category-filter
    =ind

    +breadcrumb_catalog(
      ["Home", "retailer.html"],
      ["Cart", "cart.html"],
      ["Checkout"]
    )

    //           ¬ page-content-wrapper           /
    .page-content-wrapper
      .container
        .row
          //           ¬ inner-content           /
          .col-xs-12
            article.address-form
              +hideTitle()

              form.form-light(action="#", method="POST" data-toggle="validator")
                .row
                  //           ¬ shipping address           /
                  section.col-xs-12.col-sm-12.col-md-6.order-1
                    header.section-header
                      h2 Shipping address
                    =ind
                    .address-form-row.row
                      .col-xs-12.form-group
                        label.label-control Full name
                        input.form-control(
                        type='text',
                        name='user_name',
                        placeholder='David Kraemer',
                        required
                        )
                      =ind

                      .col-xs-12.col-sm-6.form-group
                        label.label-control Country
                        select#selectCountry.form-control.select2(
                        name='user_country',
                        data-placeholder='Russian federation',
                        required
                        )
                          option(value='') Country
                          option(value='Russian federation') Russian federation
                          option(value='Russian federation') Russian federation
                      =ind

                      .col-xs-12.col-sm-6.form-group
                        label.label-control City
                        select#selectCity.form-control.select2(
                        name='user_city',
                        data-placeholder='Moscow',
                        required
                        )
                          option(value='') City
                          option(value='Moscow') Moscow
                          option(value='Moscow') Moscow
                      =ind

                      .col-xs-12.col-sm-6.form-group
                        label.label-control State
                        select#selectState.form-control.select2(
                        name='user_state',
                        data-placeholder='N / A'
                        required
                        )
                          option(value='') State
                          option(value='N / A') N / A
                          option(value='N / A') N / A
                      =ind

                      .col-xs-12.col-sm-6.form-group
                        label.label-control Postal code / ZIP
                        input.form-control(
                        type='text',
                        name='user_code_zip',
                        placeholder='589284',
                        required
                        )
                      =ind

                      .col-xs-12.form-group
                        label.label-control Street Address 1
                        input.form-control(
                        type='text',
                        name='first_address',
                        required
                        )
                      =ind

                      .col-xs-12.form-group
                        label.label-control Street Address 2
                        input.form-control(
                        type='text',
                        name='user_address',
                        required
                        )
                      =ind

                      .col-xs-12.col-sm-6.form-group
                        label.label-control E-mail
                        input.form-control(
                        type='email',
                        name='user_email',
                        required
                        )
                      =ind

                      .col-xs-12.col-sm-6.form-group
                        label.label-control Phone
                        input.form-control(
                        type='tel',
                        name='user_tel',
                        placeholder='',
                        required
                        )
                      =ind

                      .col-xs-12.form-group
                        .check-wrap
                          label.label-control
                            input.form-checkbox(type="checkbox")
                            i.fa.fa-check
                            | Create a free account.

                        .check-wrap
                          label.label-control
                            input.form-checkbox(type="checkbox")
                            i.fa.fa-check
                            | Subscribe to receive the latest news and discount promotions.

                  //           end shipping address           /
                  =ind

                  //           ¬ order list           /
                  section.col-xs-12.col-sm-12.col-md-6
                    header.section-header
                      h2 Order #29238128

                    //           ¬ checkout-order           /
                    .checkout-order
                      .checkout-order__panels
                        .checkout-order__list
                          .media.order-panel
                            .media-body
                              p.order-descr C.B.S. Brake disc, front axle vented, for MERCEDES-BENZ M-CLASS (W164) ML 280 CDI 4-matic (164.120)
                            .media-right
                              .media-object
                                span.order-cost $55.98
                                span.order-qty x 2
                          =ind
                          .media.order-panel
                            .media-body
                              p.order-descr C.B.S. Brake disc, front axle vented, for MERCEDES-BENZ M-CLASS (W164) ML 280 CDI 4-matic (164.120)
                            .media-right
                              .media-object
                                span.order-cost $55.98
                                span.order-qty x 2
                          =ind
                          .media.order-panel
                            .media-body
                              p.order-descr C.B.S. Brake disc, front axle vented, for MERCEDES-BENZ M-CLASS (W164) ML 280 CDI 4-matic (164.120)
                            .media-right
                              .media-object
                                span.order-cost $55.98
                                span.order-qty x 2
                          =ind
                          .media.order-panel
                            .media-body
                              p.order-descr C.B.S. Brake disc, front axle vented, for MERCEDES-BENZ M-CLASS (W164) ML 280 CDI 4-matic (164.120)
                            .media-right
                              .media-object
                                span.order-cost $55.98
                                span.order-qty x 2
                          =ind
                        .checkout-order__mod
                          .order-panel.order-panel-reserv
                            .media-body
                              p.order-descr C.B.S. Brake disc, front axle vented, for MERCEDES-BENZ M-CLASS (W164) ML 280 CDI 4-matic (164.120)
                            .media-right
                              .media-object
                                span.order-cost $55.98
                                span.order-qty x 2
                      =ind2

                      //           ¬ total panel           /
                      .media.total-panel
                        .media-body
                          span.total-panel-caption Total amount due:
                        .media-right
                          span.total-panel-sum $188.56

                      //           end total panel           /

                    //           end checkout-order           /

                  //           end order list           /
                  =ind

                +btn-form()
                  | confirm order
          //           end inner-content           /

    //           end page-content-wrapper           /



block footer
  include partials/_footer

block bottom

