//- Home page
extends _base

block page
  -
    page = {
      language: 'en',
      title: 'Carros | Register',
      appTitle: 'Carros Register',
      description: '',
      id: 'page_sign_up',
      class: 'page-sign-up page-inner'
    }

block icons

block header
  include partials/_header-retailer

block content
  main.page-content
    //           ¬ section-intro           /
    +catalog-intro-page('Account')

    //           end section-intro           /

    include partials/_category-filter
    =ind

    +breadcrumb_catalog(
      ["Home", "retailer.html"],
      ["Account"]
    )

    //           ¬ page-content-wrapper           /
    .page-content-wrapper
      .container
        article.panel.panel-account.panel-account-login
          .panel__inner
            form#signReg(action="/", method="POST", data-toggle="validator")
              .panel__heading
                h2.panel__title Sign up
              .panel__body
                .form-group
                  label.label-control(for="signEmail") E-mail
                  input#signEmail.form-control(
                    type="email",
                    name='user_email',
                    required
                  )
                .form-group
                  label.label-control(for="signPass") Password #[a.link-accent(href="#") (forgot?)]
                  input#signPass.form-control(
                    type="password",
                    name='user_password',
                    required
                  )
                .form-group
                  label.label-control(for="signConfirm") Retype password
                  input#signConfirm.form-control(
                    type="password",
                    data-match="#signPass" data-match-error="Whoops, these don't match"
                    required
                  )
                  .help-block.with-errors
                .form-group
                  .check-wrap
                    label.label-control
                      input.form-checkbox(type="checkbox", required)
                      i.fa.fa-check
                      | I agree with all terms and conditions.

                .panel__footer
                  +btn-form
                    | Login
                  p Already have an account? #[a.link-accent(href=ROOT + link.login) Sign in]

    //           end page-content-wrapper           /


block footer
  include partials/_footer

block bottom

